html,body {
    height: 100%;
    background-color: rgb(38, 50, 56);
}

.container {
    height: 100%;
    border-width: 1px;
    border-style: solid;
    margin: 50px auto;
    border-color: #c6c6c6;
    background-color: #FFFFFF;
    box-shadow: 0 0 50px rgba(0,0,0,.1);
}
