<!DOCTYPE html>
<html lang="fr" class="gallery">
<head>
    <title>Portfolio - Rongeard Benoit</title>
    <meta charset="UTF-8">
    <meta name="language" content="fr-FR">
    <meta name="title"  content="Portfolio - Rongeard Benoit">
    <meta name="description" content="Site personnel de Benoit Rongeard">
    <meta name="keywords" content="PortFolio Rongeard Benoit website site personnel">
    <meta name="author" content="Rongeard Benoit">
    <link rel="alternate" href="https://www.benoit-rongeard.fr/" hreflang="fr">
    <link rel="alternate" href="http://www.benoit-rongeard.fr/" hreflang="fr">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="../resources/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../resources/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../resources/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../resources/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../resources/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../resources/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../resources/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../resources/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../resources/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../resources/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../resources/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../resources/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../resources/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../resources/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../resources/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- build:css dist/css/combined.css -->
    <link rel="stylesheet" type="text/css" href="../dist/css/main.css">
    <link rel="stylesheet" type="text/css" href="../resources/libs/animate/animate.min.css">
    <!-- endbuild -->
</head>
<body class="gallery">
    
    <div class="gallery-container animated" id="container">
        <section class="hero is-medium relative">
            <div class="hero-body hero-body-custom">
                <div class="container">
                    <h1 class="title">
                        Galerie
                    </h1>
                </div>
            </div>
            <div class="hero-background">
                <img src="../resources/img/photos/DSC01616.jpg" alt="">
            </div>
        </section>
    </div>

    <!--build:js dist/js/main.min.js -->
    <script type="text/javascript" src="../resources/libs/pace/pace.min.js"></script>
    <script type="text/javascript" src="../resources/libs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../resources/libs/jquery-inview/jquery.inview.min.js"></script>
    <script type="text/javascript" src="../resources/libs/progressbar/progressbar.min.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
    <!-- endbuild -->

</body>
</html>